.logo {
    font-size: 2em;
    font-weight: bold;
    color: var(--theme);
    font-family: 'Pt Serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    &.white {
        color: #fff;
    }
}