.textarea {
  width: 100%;
  height: 4em;
  background: transparent;
  border: 1px solid var(--theme-lighten);
  margin-top: 0.5em;
  color: var(--highlight);
  &::-webkit-input-placeholder {
    color: var(--theme-lighten);
    padding: .5em;
  }
}
