@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme: #235487;
  --theme-lighten: #337ac4;
  --theme-darken: #344058;
  --interaction: #ef780f;
  --highlight: #DEC373;
  --text: #838383;

  
}

* {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'PT Serif', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #e0e0e0;
}